
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Encabezado y logos*/
header {
    background-color: #003366;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 100%;
    box-shadow: 0px 5px 10px rgb(0,132,159);
    background: linear-gradient(to right, rgb(0,62,91), rgb(0,178,169) );
    
}

.header-contenido {
    display: flex;
    align-items: center;
    width: 100%;
}

header img {
    margin: 10px 20px 10px 20px;
    max-height: 80px; 
    
}

header h2 {
    margin: 5px 10px 5px 10px;
    font-size: 50px;
    text-align: center;
    flex-grow: 1;
    max-width: 100%;
    font-family:'Times New Roman', Times, serif;
}


/* Menú de navegación */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #003366;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    width: fit-content;
    background: linear-gradient(to right, rgb(0,62,91), rgb(0,178,169) );
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Contenedor p1 */
.contenedor_p1_fondo {
    background-color: #f2f2f2;
    padding: 40px 0;
    display: flex;
    justify-content: center;

}

/* Contenedor interno */
.contenedor_p1 {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 85%;
    text-align: center;
    margin: 20px;
}


.contenedor_p1 h1 {
    font-size: 32px;
    color: #003366;
    margin-bottom: 25px;
}

.contenedor_p1 h3 {
    font-size: 25px;
    color: #003366;
    margin-bottom: 25px;
    text-align: center;
}

.contenedor_p1 p {
    font-size: 20px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 30px;
}

.imagenes-fila {
    display: flex;
    width: 800px;
    height: 530px;
    justify-content: center;
    margin: 0 auto;   
    
   
}

.img_sec {
    
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    justify-content: center;
   
}

.img_sec:hover {
    cursor: crosshair;
    width: 450px;
    opacity: 1;
    filter: contrast(120%);
}



.img-galeria {
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.img-galeria:hover {
    transform: scale(.05);
}


.lista-enlaces {
    list-style: none;
    padding-left: 0;
    text-align:center;
    font-size: 18px;

}

.lista-enlaces li {
    margin-bottom: 10px;
}

.lista-enlaces a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

.lista-enlaces a:hover {
    color: #0099cc;
    text-decoration: underline;
}

/* Contenedor article sis bio */

.article-container-sis-bio{
    width: 80%;
    margin: 20px auto;
    resize: horizontal;
    border-radius: 10px;
    
}


.article_sis_bio{
    width: 100%;
    background: linear-gradient(to right, rgb(0,132,159), rgb(0,62,91) );
    border-radius: 10px;
}

.article_img_sis_bi{
    aspect-ratio: 2/1.5;
    object-fit: cover;
    border-radius: 10px;
    display: block;

    margin: 20px auto;
    width: 100%;
    height: 350px;
    
    
}


.article_text_sis_bi{
    padding: 2rem;
    border-radius: 30px;
    position: relative;
    top: -30px;
}

.article_sis_bio h1 {
    color: white;
    text-align: center;
    
}

.article_sis_bio p{
    color: white;
    margin: 20px ,auto;
    padding: 20px;
}



/* Contenedor del video e imágenes */
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.video-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}


iframe {
    width: 560px;
    height: 315px; 
    border-radius: 10px; 
    border: none;
}

.contenedor_p1_fondo{
    background-color: white;
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
    width: fit-content;
}

/* Scroll subir_pagina */

#btnScrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}

#btnScrollTop:hover {
    background-color: #00509E;
}

/* Conteneder listas */

.contenedor-listas {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Lista p1*/

.lista_p1 {
    background: linear-gradient(to right, rgb(0,132,159), rgb(0,62,91) );
    color: white; 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-wrap: wrap;
    width: 40%;
}

.lista_p1 li:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.02);
}

.lista_p1 h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.li_p1 {
    list-style: none;
    padding: 0;
}

.li_p1 li {
    background-color: white;
    color: black;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.li_p1 li::before {
    content: "✔"; 
    color: rgb(59, 248, 74); 
    font-size: 20px;
}

.lista_p1 h3 {
    margin-top: 20px;
    font-size: 22px;
    color: yellow;
    text-align: center;
}

.lista_p1 p {
    font-size: 18px;
    color: #ddd;
    margin-top: 10px;
}

/* Contenedor P2 */

.contenedor_p2 {
    background: linear-gradient(to right, rgb(0,132,159), rgb(0,62,91) );

    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.img1 {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contenedor_p2 h1 {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}


.contenedor_p2 p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #f0f0f0;
}


/* Pie de pagina */

footer {
    font-size: 10px;
    text-align:center;
    padding: 10px;
    background: #003366;
    color: white;
    position: relative;
    text-transform: uppercase;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(to right, rgb(0,62,91), rgb(0,178,169) );
}


